<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <!--<add key="DBServer" value="DBSRV2" />
    <add key="DBBase" value="real" />-->
    <add key="dbserver" value="dbsrv\dbsrv"/>
    <add key="dbbase" value="test"/>
    
    <!--<add key="MailFuturesBoss" value="muhinan@arkona36.ru"/>-->
    <!--<add key="MailFuturesBoss" value="LazarevOP@arkona36.ru"/>-->
    <add key="MailServer" value="mail.arkona36.ru" />
    
    <!--основной почтовый ящик для парсинга прайсов-->
    <add key="MailUserPriceParser" value="PriceFromSupplier@arkona36.ru" />
    <add key="MailUserPriceParserPassword" value="pfspp1637" />
    
    
    <!--тестовый почтовый ящик для парсинга ЗКП-->
    <add key="MailUserZKPParser" value="dorogovtsevvv@arkona36.ru" />
    <add key="MailUserZKPParserPassword" value="SZmsoRE6" />
    <add key="SubjectSubstringZKP" value="Тема ЗКП11 №" /> <!--Тема ЗКП11 № Запрос на КП №-->
    
    
    <!--почтовый ящик для парсинга прайсов поставщиков А1-->
    <add key="MailUserPriceParserA1" value="PriceFromSupplier@arkona36.ru" />
    <add key="MailUserPriceParserPasswordA1" value="pfspp1637" />
    
    
    <add key="MailCountForParser" value="5" /> <!--15-->
    
    <add key="MailUserAnswer" value="Supplier@arkona36.ru" />
    <add key="MailUserAnswerPassword" value="sppu54ffk)" />
    <!--<add key="FolderForReadedMessages" value="Inbox.Loaded"/>
    <add key="FolderForErrorMessage" value="Inbox.Error"/>
    <add key="FolderForSimpleMessage" value="Inbox.Other"/>
    <add key="FolderForHandMessage" value="Inbox.HandWork"/>-->
    <add key="FolderForReadedMessages" value="Loaded" />
    <add key="FolderForErrorMessage" value="Error" />
    <add key="FolderForSimpleMessage" value="Other" />
    <add key="FolderForHandMessage" value="HandWork" />
    <add key="DiadocUrl" value="https://diadoc-api.kontur.ru" />
    <add key="DiadocLogin" value="TurishevAV@arkona36.ru" />
    <add key="DiadocPass" value="230290and" />
    <add key="DiadocTokenAPI" value="arkona-7e3c5ba2-c736-4363-a128-f84d728f032e" />
    <add key="ProxyLogin" value="EasZakTov" />
    <add key="ProxyPass" value="ddfi3)es" />
    <add key="ProxyUri" value="http://192.168.1.7:3128" />
    <add key="PathTo7Zip" value="C:\Program Files\7-Zip\7z.dll" />
    <add key="BotUserId" value="552632" />
    <add key="FolderXls" value="Xls" />
    <add key="FolderLog" value="Logs" />
    <add key="FolderTableDesign" value="TableDesign" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SmtpServer" value="mail.arkona36.ru" />
    <add key="SmtpPort" value="587" />
    <add key="MailToAnswer" value="developers@arkona36.ru" />
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model.EntityFrame.EntityDB.csdl|res://*/Model.EntityFrame.EntityDB.ssdl|res://*/Model.EntityFrame.EntityDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DBSRV2;Initial Catalog=real;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AForm.Properties.Settings.realConnectionString" connectionString="Data Source=DBSRV2;Initial Catalog=real;Integrated Security=True;Timeout=1800" providerName="System.Data.SqlClient" />
    <add name="AForm.Properties.Settings.TESTConnectionString" connectionString="Data Source=DBSRV\DBSRV;Initial Catalog=TEST;Integrated Security=True;Timeout=1800;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AForm.Properties.Settings.realConnectionString1" connectionString="Data Source=DBSRV2;Initial Catalog=real;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
